.main{
    display: flex;
    width: 100%;
}
.main img{
    width: 50%;
}
.product{
    width: 60%;
    background-color: rgb(235, 255, 255);
    padding: 35px 70px 20px 40px;
}
.product-description{
    font-family: 'Fraunces', sans-serif;
    margin-bottom: 60px;
}
.product-description h1{
    font-size: 45px;
    margin: 20px;
    position: relative;
    width: fit-content;
}
#stars{
    width: 35px;
    position: absolute;
    left: 102%;
    bottom: 60%;
}
.product-description p{
    width: 500px;
    margin-left: 20px;
}
/*product details===================*/
.product-details{
    margin-left: 20px;
}
.product-details .rating{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.stars{
    margin: 10px 0px 10px 0px;
}
.stars img{
    width: 18px;
    margin-right: 4px;
}
.pr-we{
    display: flex;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 40px;
}
.pr-we .price{
    font-size: 25px;
    margin-right: 5px;
    font-weight: 700;
}
.quantity{
    margin-bottom: 20px;
}
.quantity button{
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: transparent;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px rgb(210, 207, 207) solid;
}
#to-cart{
    background-color: #01260E;
    color: white;
    border: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    transition: .2s;
}
#to-cart:hover{
    color: black;
    background-color: transparent;
    cursor: pointer;
}
.b-c{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#o-one{
    border-radius: 30%;
    padding: 2px 5px 2px 5px;
    border: transparent;
    margin-right: 5px;
    color: white;
    background-color: #01260E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
#beauty-collection{
    color: #01260E;
    background-color: transparent;
    border: #01260E solid 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
    transition: .2s;
}
#beauty-collection:hover{
    color: white;
    background-color: #01260E;
    cursor: pointer;
}
.b-c div p{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    cursor: pointer;
    transition: .2s;
}
.b-c div p:hover{
    opacity: 30%;
}
.b-c div p i{
    margin-left: 10px;
}
.closure{
    margin-top: 50px;
}
.closure img{
    width: 20px;
}
.closure p{
    margin-top: 10px;
    width: 300px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}